{% extends "base.html" %}
{% block title %} Корзина {% endblock %}
{% block list_name %} Корзина {{ user }} {% endblock %}

{% block info %}

    <h2 class="about">Наш онлайн-магазин основан в 2011 году. Здесь представлен широкий ассортимент товаров множества категорий. Это различные аксессуары, одежда, мебель и прочее. Кроме этого наш магазин предлагаем широкий ассортимент спортивного инвентаря.
    Магазины, представленные в магазине Shima Store – это фирмы, предлагающие наиболее оптимальный товар в соотношении цена/качество.
    Решив купить страйкбольное оружие у нас, вы всегда получите дельные рекомендации, сможете задать нашим специалистам любые интересующие вопросы.
    Преимуществом магазина Shima Store является работа со всеми регионами Беларуси. Доставка в течение нескольких дней осуществляется по всем населенным пунктам. Более детальная информация в разделе «Оплата и доставка».
    Если вы еще не знаете о нас, предлагаем почитать несколько отзывов от наших клиентов.
    Кроме этого, на нашем сайте вы найдете массу полезных материалов в разделе "Статьи"</h2>

{% endblock %}