{% extends "base.html" %}
{% block title %} Корзина {% endblock %}
{% block list_name %} Корзина {{ user }} {% endblock %}

    {% block info %}
        <form method="POST" action="{% url 'buy_product' %}">
            {% csrf_token %}
            <button class="pay_basket" type="submit">Оплатить</button>
        </form>
        {% if sum is not None %}
            <h3>Общее количество товаров: {{ sum }}</h3>
        {% else %}
            <h3>Общее количество товаров: 0</h3>
        {% endif %}
             <h3>Общая сумма товаров: {{ total_price }} руб.</h3>
        <hr>
    {% endblock %}

    {% block second_list %}
        <h1 align="center">Оплачено</h1>
        {% for p_product in paid_products %}
            <li class="paid_products">
                <div class="product">
                    <img class="product-photo" src="{{ p_product.product.photo.url }}" alt='No photo.'/>
                    <h2>{{ p_product.product.name }}</h2>
                    <p>{{ p_product.product.price }} руб.</p>
                    <p>Количество: {{ p_product.quantity }} шт.</p>
                    {% if p_product.status == 'paid' %}
                        <h3 class="status">Оплачено</h3>
                    {% elif p_product.status == 'delivery' %}
                        <h3 class="status">В пути</h3>
                    {% elif p_product.status == 'in_store' %}
                        <h3 class="status">Доставлен в ПВЗ</h3>
                    {% elif p_product.status == 'received' %}
                        <h3 class="status">Получен покупателем</h3>
                    {% elif p_product.status == 'returned' %}
                        <h3 class="status">Возвращен</h3>
                    {% endif %}

                    <a class='product_detail_link' href="/product_detail/{{ p_product.product.id }}">Узнать больше</a>
                </div>
                </li>
        {% endfor %}
    {% endblock %}

    {% block list %}
        {% for product in basket_products %}
                    <li class="product-wrapper">
                        <form method="post" action="{% url 'activate_product' product.id %}">
                            {% csrf_token %}
                            <input class='checkbox' type="checkbox" id="active_{{ product.id }}" name="active" value="true" {% if product.active %}checked{% endif %} onchange="this.form.submit()">
                        </form>
                            <div class="product">
                            <img class="product-photo" src="{{ product.product.photo.url }}" alt='No photo.'/>
                            <h2>{{ product.product.name }}</h2>
                            <p>{{ product.product.price }} руб.</p>
                            <p>Количество: {{ product.quantity }} шт.</p>
                                <div class="row">
                                    <form method="POST" action="{% url 'update_quantity' %}">
                                        {% csrf_token %}
                                        <div class="number">
                                            <button class="number-minus" type="submit" name="change" value="-1">-</button>
                                            <input type="hidden" name="product_id" value="{{ product.id }}">
                                            <input type="number" name="quantity" value="{{ product.quantity }}" min="0" readonly>
                                            <button class="number-plus" type="submit" name="change" value="1">+</button>
                                        </div>
                                    </form>
                                </div>
                            <a class='product_detail_link' href="/product_detail/{{ product.product.id }}">Узнать больше</a>
                            <form method="POST" action="{% url 'delete_product' product.id %}">
                               {% csrf_token %}
                               <button class="delete_product" type="submit">Удалить из корзины</button>
                            </form>
                        </div>
                    </li>

        {% endfor %}
    <hr>
    {% endblock %}

