{% extends "base.html" %}
{% block title %} Категории {% endblock %}
{% block list_name %} Категории: {% endblock %}
<ul>
    {% block list %}
        {% for category in categories %}
            <li>
                <a href="/products_by_categories/{{ category.name }}/">{{ category.name }}</a>
                {% for subcategory in subcategories %}
                <ul>
                    {% if subcategory.category_id == category.id %}
                        <li><a href="/products_by_categories/{{ subcategory.name }}/">{{ subcategory.name }}</a></li>
                    {% endif %}
                </ul>
                {% endfor %}
            </li>
        {% endfor %}
    {% endblock %}
</ul>
