{% extends "base.html" %}
{% block title %} Корзина {% endblock %}
{% block list_name %} Корзина {{ user }} {% endblock %}

{% block info %}

    <ul>
      <li class="contact_store"><h2><a href="https://www.instagram.com/realdonaldtrump/">Instagram</a></h2></li>
      <li class="contact_store"><h2><a href="mailto:m.bluth@example.com">Email</a></h2></li>
      <li class="contact_store"><h2><a href="https://www.facebook.com/POTUS/">Facebook</a></h2></li>
      <li class="contact_store"><h2><a href="tel:+123456789">Phone</a></h2></li>
    </ul>

{% endblock %}