{% extends "base.html" %}
{% load cache %}
{% block title %} Список продуктов {% endblock %}
{% block list_name %} Список продуктов {% endblock %}

{% block info %}
    <form class="search_form" method="get" action="{% url 'search_product' %}">
        <input class="search_line" type="text" name="q" placeholder="Поиск товаров">
        <button class="search_button" type="submit">Найти</button>
    </form>
{% endblock %}
{% cache 500 products %}
    <div>
        <ul>
            {% block list %}
                {% for product in products %}
                    <li class="product-wrapper">
<!--                        <a class="product"  href="/product_detail/{{ product.name }}"><img class="product-photo" src="{{ product.photo.url }}" alt='No photo.'/>-->
                        <div class="product">
                            <img class="product-photo" src="{{ product.photo.url }}" alt='No photo.'/>
                            <h2>{{ product.name }}</h2>
                            <p>{{ product.price }} руб.</p>
                            <a class='product_detail_link' href="/product_detail/{{ product.id }}">Узнать больше</a>
                            <form method="POST" action="{% url 'add_product' product.id %}">
                                {% csrf_token %}
                                {% if user.is_authenticated %}
                                    <button class="add_product_to_basket" type="submit">В корзину</button>
                                {% else %}
                                    <button class="disabled_button" disabled>В корзину</button>
                                {% endif %}
                            </form>
                        </div>
                    </li>
                {% endfor %}
            {% endblock %}
        </ul>
    </div>
{% endcache %}
